// Colors
.color-womply-50 {color : $womply-50;}
.color-womply-100 {color : $womply-100;}
.color-womply-200 {color : $womply-200;}
.color-womply-300 {color : $womply-300;}
.color-womply-400 {color : $womply-400;}
.color-womply-500 {color : $womply-500;}
.color-womply-600 {color : $womply-600;}
.color-womply-700 {color : $womply-700;}
.color-womply-800 {color : $womply-800;}
.color-womply-900 {color : $womply-900;}