// Typography
// ------------------------------
$font-family: Lato, 'Source Sans Pro', sans-serif !default;

// Colors
//
$womply-50: #CDE9F9;
$womply-100:  #8FC7EA;
$womply-200:  #49A3DD;
$womply-300:  #0B81CA;
$womply-400:  #0874B7;
$womply-500:  #0969A2;
$womply-600:  #086094;
$womply-700:  #07507A;
$womply-800:  #053751;
$womply-900:  #042F44;
