<!doctype html>
<html ng-app="docsApp" ng-controller="DocsCtrl" lang="en" ng-strict-di>

<head>
  <title>
    Womply Global Nav
  </title>
  <link rel="icon" type="image/x-icon" href="favicon.ico" />
  <meta name="viewport" content="initial-scale=1" />
  <link href='https://fonts.googleapis.com/css?family=Lato:400,300,400italic,700' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="../dist/styleguide.css">
  <base href="/">
</head>

<body layout="row" flex>
  <style>
  md-sidenav .brand {
    margin: 20px;
  }

  md-sidenav .brand .partner-logo {
    margin-left: 20px;
  }

  md-sidenav .brand .brand-text {
    margin-left: 20px;
  }

  md-sidenav .app-switcher .md-fab {
    float: right;
    margin-top: -2em;
  }

  md-sidenav .app-switcher ng-md-icon {
    fill: #fff;
    position: relative;
    top: 6.5px;
  }

  md-sidenav md-list-item ng-md-icon {
    margin-right: 32px;
  }

  md-sidenav md-list-item.subitem {
    min-height: 24px !important;
  }

  md-sidenav md-list-item.subitem .subitem-no-icon {
    margin-left: 56px;
    font-weight: 300;
  }
  </style>
  <md-sidenav layout="column" class="md-sidenav-left md-whiteframe-z2" md-component-id="left" md-is-locked-open="$mdMedia('min-width: 1000px')">
    <div class="brand">
      <div class="partner-logo contain anovia-logo-large"></div>
      <div class="brand-text">
        <h2 class="color-womply-200">Merchant Insights</h2>
        <h3>powered by WOMPLY</h3>
      </div>
    </div>
    <md-divider></md-divider>
    <div class="app-switcher">
      <md-button class="md-fab md-primary md-ink-ripple md-raised">
        <ng-md-icon icon="apps" size="24"></ng-md-icon>
      </md-button>
    </div>
    <md-list>
      <md-list-item>
        <ng-md-icon icon="assessment"></ng-md-icon>
        <p><b>Revenue</b></p>
      </md-list-item>
      <md-list-item class="subitem">
        <p class="subitem-no-icon">Revenue Comparison</p>
      </md-list-item>
      <md-list-item class="subitem">
        <p class="subitem-no-icon">Day of Week</p>
      </md-list-item>
      <md-list-item class="subitem">
        <p class="subitem-no-icon">Day of Week Comparison</p>
      </md-list-item>
      <md-list-item class="subitem">
        <p class="subitem-no-icon">Leaderboard</p>
      </md-list-item>
      <md-list-item class="subitem">
        <p class="subitem-no-icon">Key Metrics</p>
      </md-list-item>
      <md-list-item class="subitem">
        <p class="subitem-no-icon">Transactions</p>
      </md-list-item>
      <md-list-item class="subitem">
        <p class="subitem-no-icon">Daily Cash</p>
      </md-list-item>
      <md-list-item>
        <ng-md-icon icon="message"></ng-md-icon>
        <p><b>Online Activity</b></p>
      </md-list-item>
      <md-list-item>
        <ng-md-icon icon="language"></ng-md-icon>
        <p><b>Data Sources</b></p>
      </md-list-item>
      <md-list-item>
        <ng-md-icon icon="compare"></ng-md-icon>
        <p><b>Compare Locations</b></p>
      </md-list-item>
      <md-list-item>
        <ng-md-icon icon="directions"></ng-md-icon>
        <p><b>Getting Started</b></p>
      </md-list-item>
      <md-divider></md-divider>
      <md-list-item>
        <ng-md-icon icon="place"></ng-md-icon>
        <p><b>Location</b></p>
      </md-list-item>
      <md-list-item class="subitem">
        <p class="subitem-no-icon">Invite Staff</p>
      </md-list-item>
      <md-list-item class="subitem">
        <p class="subitem-no-icon">Settings</p>
      </md-list-item>
      <md-divider></md-divider>
      <md-list-item>
        <ng-md-icon icon="school"></ng-md-icon>
        <p><b>Womply Experts</b></p>
      </md-list-item>
    </md-list>
  </md-sidenav>
  <div flex style="background-color:#eee;">
    <div layout="column">
      <md-toolbar class="md-primary md-hue-1" layout-align="center">
        <div layout="row">
          <div flex="70" flex-offset="10">
            <md-input-container style="padding:0;">
              <md-select ng-model="fakery">
                <md-option ng-selected="true">
                  Pauly's Pizza Place 3970 17th Street Demo, DE 68130
                </md-option>
              </md-select>
            </md-input-container>
          </div>
          <div flex="5" flex-offset="10">
            <ng-md-icon icon="notifications" style="fill:#fff;"></ng-md-icon>
          </div>
          <div flex="5">
            <ng-md-icon icon="settings" style="fill:#fff;"></ng-md-icon>
          </div>
        </div>
      </md-toolbar>
      <div>
        <md-content class="md-padding" style="padding-top:0; background-color:#eee">
          <md-card>
            <md-toolbar class="demo-toolbar md-primary">
              <div class="md-toolbar-tools">
                <h1>Card Transactions</h1>
              </div>
            </md-toolbar>
            <div class="demo-content">
              <div class="layout-column">
                <md-content>
                  <md-content class="md-padding">
                    <div class="layout-row" style="height: 32px;">
                      <div class="flex-80">
                        <md-datepicker ng-model="myDate" class="hidden-button"></md-datepicker>
                        <span style="margin-left: 32px; margin-right: 32px;"> to </span>
                        <md-datepicker ng-model="myDate" class="hidden-button"></md-datepicker>
                      </div>
                      <div class="flex-20">
                        <div layout="row">
                          <div class="flex-80">
                            <md-input-container md-no-float class="md-input-has-placeholder">
                              <input placeholder="Search">
                            </md-input-container>
                          </div>
                          <div class="flex-20">
                            <ng-md-icon class="search_icon" icon="search" size="20" style="position:relative;top:9px;right:32px;"></ng-md-icon>
                          </div>
                        </div>
                      </div>
                    </div>
                  </md-content>
                  <md-divider></md-divider>
                  <md-data-table alternate-headers="'contextual'">
                    <md-content class="mdDataTable" layout="column">
                      <table cellpadding="0" cellspacing="0">
                        <thead>
                          <tr class="theadTrRow">
                            <th class="column leftAlignedColumn" md-ink-ripple="">
                              <div layout="row">
                                <span>DATE SETTLED</span>
                                <span class="hoverSortIcons">
              <ng-md-icon icon="arrow_forward" size="16"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="16" height="16"><path d="M12 4l-1.41 1.41L16.17 11H4v2h12.17l-5.58 5.59L12 20l8-8z"></path></svg></ng-md-icon>
            </span>
                              </div>
                            </th>
                            <th class="column rightAlignedColumn" md-ink-ripple="">
                              <div layout="row">
                                <span class="sortedColumn ascending">
              <ng-md-icon icon="arrow_forward" size="16"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="16" height="16"><path d="M12 4l-1.41 1.41L16.17 11H4v2h12.17l-5.58 5.59L12 20l8-8z"></path></svg></ng-md-icon>
            </span>
                                <span>CARD TYPE</span>
                              </div>
                              <div class="md-ripple-container"></div>
                            </th>
                            <th class="column rightAlignedColumn" md-ink-ripple="">
                              <div layout="row">
                                <span class="hoverSortIcons">
              <ng-md-icon icon="arrow_forward" size="16"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="16" height="16"><path d="M12 4l-1.41 1.41L16.17 11H4v2h12.17l-5.58 5.59L12 20l8-8z"></path></svg></ng-md-icon>
            </span>
                                <span>LAST FOUR</span>
                              </div>
                            </th>
                            <th class="column rightAlignedColumn" md-ink-ripple="">
                              <div layout="row">
                                <span class="hoverSortIcons">
              <ng-md-icon icon="arrow_forward" size="16"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="16" height="16"><path d="M12 4l-1.41 1.41L16.17 11H4v2h12.17l-5.58 5.59L12 20l8-8z"></path></svg></ng-md-icon>
            </span>
                                <span>AMOUNT</span>
                              </div>
                            </th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr>
                            <td class="column leftAlignedColumn">
                              <span>Oct 25, 20215</span>
                            </td>
                            <td class="column leftAlignedColumn">
                              <span>VISA</span>
                            </td>
                            <td class="column rightAlignedColumn">
                              <span>6543</span>
                            </td>
                            <td class="column rightAlignedColumn">
                              <span>$10.98</span>
                            </td>
                          </tr>
                          <tr>
                            <td class="column leftAlignedColumn">
                              <span>Oct 25, 20215</span>
                            </td>
                            <td class="column leftAlignedColumn">
                              <span>VISA</span>
                            </td>
                            <td class="column rightAlignedColumn">
                              <span>6543</span>
                            </td>
                            <td class="column rightAlignedColumn">
                              <span>$1.98</span>
                            </td>
                          </tr>
                          <tr>
                            <td class="column leftAlignedColumn">
                              <span>Oct 25, 20215</span>
                            </td>
                            <td class="column leftAlignedColumn">
                              <span>DISCOVER</span>
                            </td>
                            <td class="column rightAlignedColumn">
                              <span>6543</span>
                            </td>
                            <td class="column rightAlignedColumn">
                              <span>$10.98</span>
                            </td>
                          </tr>
                          <tr>
                            <td class="column leftAlignedColumn">
                              <span>Oct 27, 20215</span>
                            </td>
                            <td class="column leftAlignedColumn">
                              <span>VISA</span>
                            </td>
                            <td class="column rightAlignedColumn">
                              <span>6543</span>
                            </td>
                            <td class="column rightAlignedColumn">
                              <span>$100.98</span>
                            </td>
                          </tr>
                          <tr>
                            <td class="column leftAlignedColumn">
                              <span>Oct 28, 20215</span>
                            </td>
                            <td class="column leftAlignedColumn">
                              <span>VISA</span>
                            </td>
                            <td class="column rightAlignedColumn">
                              <span>6543</span>
                            </td>
                            <td class="column rightAlignedColumn">
                              <span>$10.98</span>
                            </td>
                          </tr>
                          <tr>
                            <td class="column leftAlignedColumn">
                              <span>Oct 29, 20215</span>
                            </td>
                            <td class="column leftAlignedColumn">
                              <span>VISA</span>
                            </td>
                            <td class="column rightAlignedColumn">
                              <span>6543</span>
                            </td>
                            <td class="column rightAlignedColumn">
                              <span>$98.98</span>
                            </td>
                          </tr>
                        </tbody>
                      </table>
                    </md-content>
                  </md-data-table>
                </md-content>
              </div>
            </div>
          </md-card>
        </md-content>
      </div>
    </div>
  </div>
  <script src="./bower_components/angular/angular.js"></script>
  <script src="./bower_components/angular-animate/angular-animate.js"></script>
  <script src="./bower_components/angular-aria/angular-aria.js"></script>
  <script src="./bower_components/angular-route/angular-route.js"></script>
  <script src="./bower_components/angular-messages/angular-messages.js"></script>
  <script src="./bower_components/angular-material/angular-material.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/angular-material-icons/0.6.0/angular-material-icons.min.js"></script>
  <script src="docs.js"></script>
  <script src="docs-demo-scripts.js"></script>
</body>

</html>