<h1>Logos</h1>

<md-grid-list
        md-cols-sm="1" md-cols-md="2" md-cols-gt-md="6"
        md-row-height-gt-md="1:1" md-row-height="4:3"
        md-gutter="8px" md-gutter-gt-sm="4px"
        class="gridListdemoBasicUsage">
    <md-grid-tile md-rowspan="1" md-colspan="1" md-colspan-sm="1" class="green" >
      <div class="partner-logo womply-logo-small"></div>
      <md-grid-tile-footer><h3>womply-logo-small</h3></md-grid-tile-footer>
    </md-grid-tile>
    <md-grid-tile md-rowspan="1" md-colspan="1" md-colspan-sm="1" class="yellow" >
      <div class="partner-logo tsys-logo-small"></div>
      <md-grid-tile-footer><h3>tsys-logo-small</h3></md-grid-tile-footer>
    </md-grid-tile>
    <md-grid-tile md-rowspan="1" md-colspan="1" md-colspan-sm="1" class="blue" >
      <div class="partner-logo saltsha-logo-small"></div>
      <md-grid-tile-footer><h3>saltsha-logo-small</h3></md-grid-tile-footer>
    </md-grid-tile>
  </md-grid-list>